.App {
  text-align: center;
  background-color: #c5d3fc;
}

.App-divider{
  border-style: solid;
  background-color: black;
  width:calc(70% + 2vmin);
  height: 2px;
  box-shadow: none;
  outline: none;
  align-items: flex-start;

}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.BG-header{
  padding-top: 1%;
  padding-left: 1%;
  background-color: #c5d3fc;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(25% + 2vmin);
  color: black;
  font-family: Serif;
}

.App-title{
  padding-top: 10%;
  padding-left: 10%;
  background-color: #c5d3fc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(30px + 2vmin);
  color: black;
  font-family: Serif;
}

.box-border{
  min-width: 10vh;
  max-width: 600 px;
  padding-top: 8%;
  padding-bottom: 8%;
  padding-left: 8%;
  padding-right: 8%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-width: medium;
  border-color: black;
  border-style: solid;
}

.App-header {
  padding-bottom: 10%;
  padding-left: 10%;
  background-color: #c5d3fc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  font-size: calc(10px + 2vmin);
  color: white;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
