.App {
  text-align: start;
  background-color: #c5d3fc;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
#App-header{
  margin: 0px auto;
  width: 50%;
  overflow: visible;
  white-space: nowrap;
}

.BG-header{
  padding-top: 1%;
  padding-left: 1%;
  background-color: #c5d3fc;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(25% + 2vmin);
  color: black;
  font-family: Serif;
}
.box-border{
  min-width: 50vh;
  padding-top: 8%;
  padding-bottom: 8%;
  padding-left: 8%;
  padding-right: 8%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-width: medium;
  border-color: black;
  border-style: solid;
}
.App-header {
  padding-top: 5%;
  padding-left: 10%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(30px + 2vmin);
  color: black;
  font-family: Serif;

}

.p1{
  border-radius: 100%;
  border-style: solid;
  border: black;
  border-width: thick;

}

.App-body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.styled-line {
  border: none;
  height: 2px;
  background-color: black;
}