.App {
  text-align: center;
}
body {
  font-family: monospace;
  /* webpage background color */
  background-color: #8fabff;
}

.App h1 {
  font-size: 30px;
  color: white;
}

header {
  background-color: #718bd9;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

nav {
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

nav a {
  color: #f2f2f2;
  text-align: center;
  padding: 30px 30px;
  text-decoration: none;
  font-size: 18px;
  color: white;
}

nav a:hover {
  background-color: white;
  color: black;
}

nav a:active {
  background-color: #325ecf;
  color: white;
}

textarea {
  border: none; /* delete border of input box */
  border-radius: 5px;
  font-family: monospace;
  margin-top: 3%;
  box-shadow:  -3px 3px 5px rgba(164, 160, 141, 0.5); /* This creates a shadow effect inside the textbox */
}

input {
  border: none; /* delete border of input box */
  border-radius: 5px;
  font-family: monospace;
  margin-top: 3%;
  box-shadow:  -3px 3px 5px rgba(164, 160, 141, 0.5); /* This creates a shadow effect inside the textbox */
}

button {
  border: none;
  background-color: #8fabff;
  color: white;
  font-family: monospace;
  border-radius: 5px;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  padding-bottom: 10%;
  padding-left: 0%;
  min-height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #8fabff;
}

.box-border{
  background: #f7e94f;
  min-width: 10vh;
  max-width: 600 px;
  padding-top: 8%;
  padding-bottom: 8%;
  padding-left: 8%;
  padding-right: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); /* Added shadow */
}

button:hover {
  background-color: #718bd9;
}

button:active {
  background-color: #325ecf;
}