/* Entire page */
body {
    font-family: monospace;
    background-color: #8fabff;
    margin: 0;
    padding: 0;
}

/* Header logo */
.logo {
    width: 200px; /* Adjust the size of the logo as needed */
    height: auto;
    display: block; 
  }

.logo-container {
    display: inline-block;  /*align the contents left*/
  }

/* Header styling */
header {
    display: flex;
    color: white;
    background-color: #718bd9;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header-container {
    width: 100%;
}

/* Header separator line */
.styled-hr {
    height: 2px;
    background-color: #718bd9;
}

/* Header title styling */
#title {
    margin-left: 30px;
    text-shadow: 5px 2px 2px pink;
}