.styled-hr {
    border: none;
    height: 2px;
    background-color: black;
}

header {
    position: relative;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    border: 2px solid black;

}

.counter-container {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 80%;
    border: 2px solid black;
}

.food-title h3,
.calorie-title h3,
.counter-title h2 {
    text-align: center;
}

.counter-title {
    border: 2px solid black;
}

.food-calorie-title-container {
    display: flex;
    justify-content: space-between;
}

.food-title { 
    width: 75%;
    border: 2px solid black;
}

.calorie-title {
    flex: 1;
    border: 2px solid black;
}