/* Entire page after header */
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    /*border: 2px solid black;*/
}

/* Entire counter box  */
.counter-container {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 80%;
    background-color: white;
    box-shadow: 0px 25px 40px #325ecf;
    /*border: 1px solid black;*/
    border-radius: 10px;
}

/* Counter title and header */
.food-title h3,
.calorie-title h3,
.counter-title h2 {
    text-align: center;
}

.counter-title {
    border-bottom: 1px solid black;
    /* background-color: #f7ee8b;  */
}

.food-calorie-title-container {
    display: flex;
    justify-content: space-between;
    background-color: #f7ee8b;
}

.food-title { 
    width: 75%;
    border-bottom: 1px solid black;    
}

.calorie-title {
    flex: 1;
    border-bottom: 1px solid black;

}



/* Counter box */
.counter-list-container-wrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #f7ee8b;
    overflow: hidden;
}

.counter-list-container {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 95%;
    overflow-y: hidden;
}


/* Separate food and list box */
.food-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 75%;
    border-right: 1px solid black;
    overflow-y: auto;
    overflow-x: hidden;
    
}

.calories-list-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    overflow-y: auto;
}




/* Total box */
.total-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-top: 1px solid black;
}

.food-total-container {
    width: 75%;
    border-right: 1px solid;
    text-align: center;
}

.calorie-total-container {
    text-align: center;
    flex: 1;
}


 


/* Input related items */
.add-item-container {
    width: 100%;
    padding: 10px;
    align-self: first baseline;
}

.calories-input {
    box-sizing: border-box;
    margin: 10px;
    width: 100%;
}