.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    border: 2px solid black;

}

.counter-container {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 80%;
    background-color: white;
    box-shadow: 0px 25px 40px #325ecf;
    border: 1px solid black;
    border-radius: 10px;
}

.food-title h3,
.calorie-title h3,
.counter-title h2 {
    text-align: center;
}

.counter-title {
    border-bottom: 1px solid black;
}

.food-calorie-title-container {
    display: flex;
    justify-content: space-between;
}

.food-title { 
    width: 75%;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.calorie-title {
    flex: 1;
    border-bottom: 1px solid black;

}

.counter-list-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    
}

.food-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 75%;
    border-right: 1px solid black;
}

.calories-list-container {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
}

.add-item-container {
    width: 100%;
}

.calories-input {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
}