body {
    font-family: monospace;
    background-color: #e6f2fe;
    background: linear-gradient(to bottom right, #E3F0FF, #FAFCFF);
}

.styled-hr {
    border: none;
    height: 2px;
    background-color: black;
}

header {
    display: flex;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

#title {
    margin-left: 30px;
    text-shadow: 5px 2px 2px pink;
}