nav{
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
  }

nav a {
    color: #f2f2f2;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
    font-size: 18px;
    color: white;
  }

nav a:hover {
    background-color: white;
    color: black;
  }

nav a:active {
    background-color: #325ecf;
    color: white;
  }

  #logout-button {
    color: white;
    font-family: monospace;
    background: none;
    text-align: center;
    padding: 30px 30px;
    border: none;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
  }
  
  #logout-button:hover {
    background-color: white;
    color: black;
  }
  
  #logout-button:active {
    background-color: #325ecf;
    color: white;
  }